@page "/abraq/inventory/material-issues/create"
@page "/abraq/inventory/material-issues/edit/{Id:int}"
@using BlazorDemo.Pages.AbraqAccount.Inventory.SubComponents

<div class="container-fluid py-4">
    <MaterialIssueForm Id="@Id" />
</div>

@code {
    [Parameter] public int? Id { get; set; }
}
