@page "/abraq/inventory/items/create"
@page "/abraq/inventory/items/edit/{Id:int}"
@using BlazorDemo.Pages.AbraqAccount.Inventory.SubComponents

<div class="container-fluid py-4 ps-4">
    <div class="row">
        <div class="col-xl-11">
            <PurchaseItemForm Id="@Id" />
        </div>
    </div>
</div>

@code {
    [Parameter] public int? Id { get; set; }
}
