@page "/abraq/inventory/purchase-orders/view/{Id:int}"
@using BlazorDemo.Pages.AbraqAccount.Inventory.SubComponents
@layout MainLayout

<div class="p-0">
    <PurchaseOrderForm Id="@Id" IsReadOnly="true" />
</div>

@code {
    [Parameter] public int Id { get; set; }
}
