/*BeginHide*/::deep /*EndHide*/ .dxbl-wait-indicator {
    --dxbl-wait-indicator-color: /*BeginHide*/ var(--DS-color-content-primary-default-rest, /*EndHide*/white/*BeginHide*/ ) /*EndHide*/;
}

/*BeginHide*/::deep /*EndHide*/ .dxbl-btn.dxbl-lg {
    --dxbl-btn-line-height: 1.5rem;
}
