<DemoPageSectionComponent Id="Editors-Calendar-DayCellCustomization" ShowSizeMode="true">
    <ChildContentWithParameters Context="Params">
        <DxCalendar T="DateTime" SizeMode="Params.SizeMode" CssClass="demo-calendar">
            <DayCellTemplate>
                <a class="@GetCssClassNames(context)">@context.Day.ToString()</a>
            </DayCellTemplate>
        </DxCalendar>
    </ChildContentWithParameters>

    @code {
        CalendarData Data { get; set; } = new CalendarData();

        string GetCssClassNames(DateTime date) {
            if(Data.PersonalDays.Exists(d => DaysEqual(d, date)))
                return "fw-bold personal-day";
            if(Data.Holidays.Exists(d => DaysEqual(d, date)))
                return "holiday";
            if(Data.BirthDates.Exists(d => DaysEqual(d, date)))
                return "fw-bold birth-date";

            return null;
        }
        bool DaysEqual(DateTime date1, DateTime date2) {
            return (date1.Year == date2.Year && date1.DayOfYear == date2.DayOfYear);
        }
    }
</DemoPageSectionComponent>
