/*BeginHide*/ ::deep /*EndHide*/ .list-box {
    min-height: 327px;
}

/*BeginHide*/ ::deep /*EndHide*/ .dxbl-sm.list-box {
    min-height: 292px;
}

/*BeginHide*/ ::deep /*EndHide*/ .dxbl-lg.list-box {
    min-height: 382px;
}
