/*BeginHide*/
::deep /*EndHide*/.dxbl-grid {
    height: 522px;
}

/*BeginHide*/
::deep /*EndHide*/ .buttons-group-title {
    font-weight: 500;
}

/*BeginHide*/
.grid-container {
    display: contents;
}
/*EndHide*/
