<DemoPageSectionComponent Id="DialogsAndWindows-Toast-Template" ShowSizeMode="true" MinHeight="500">
    <ChildContentWithParameters Context="Params">
        <div class="custom-toast-background d-flex align-items-center">
            <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="SHOW A TOAST WITH BUTTONS" Click="ShowToastButtons" />
            <DxButton RenderStyle="ButtonRenderStyle.Secondary" CssClass="my-4" Text="SHOW A TOAST WITH A COMBOBOX" Click="ShowToastTextInput" />
            <DxButton RenderStyle="ButtonRenderStyle.Secondary" Text="SHOW A TOAST WITH RADIOBUTTONS" Click="ShowToastRadio" />
            <DxToastProvider Name="Template"
                             SizeMode="Params.SizeMode"
                             MaxToastCount="3" 
                             FreezeOnClick="true"/>
        </div>

        <DxToast @ref=toastButtons
                 Title="New mail"
                 Text="You received a message from Mary."
                 ProviderName="Template">
            <div class="d-flex align-items-center">
                <DxButton CssClass="mx-2">Reply...</DxButton>
            </div>
        </DxToast>

        <DxToast @ref=toastTextInput
                 Title="New meeting"
                 Text="Andy scheduled a new meeting at 2:00 PM."
                 ProviderName="Template">
            <DxComboBox NullText="Select action" Data="comboboxData" @bind-Value="comboboxValue" />
        </DxToast>

        <DxToast @ref=toastRadio
                 Text="Was this page helpful?"
                 ProviderName="Template">
            <DxRadioGroup @bind-Value="radioValue"
                          Items="radioValues"
                          Layout="RadioGroupLayout.Horizontal" />
        </DxToast>

    </ChildContentWithParameters>

    @code {
        DxToast toastButtons;
        DxToast toastTextInput;
        DxToast toastRadio;

        string[] radioValues = { "Yes", "No" };
        string radioValue;

        string[] comboboxData = new[] { "Accept", "Tentative", "Decline" };
        string comboboxValue = "";

        private void ShowToastButtons() {
            toastButtons.Show();
        }

        private void ShowToastTextInput() {
            toastTextInput.Show();
        }

        private void ShowToastRadio() {
            toastRadio.Show();
        }
    }
</DemoPageSectionComponent>
