@page "/abraq/transactions/credit-note/details/{Id:int}"
@using BlazorDemo.Pages.AbraqAccount.Transactions.SubComponents
@using BlazorDemo.AbraqAccount.Services.Interfaces
@inject ICreditNoteService CreditNoteService

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            @if (voucherNo != null)
            {
                <CreditNoteForm VoucherNo="@voucherNo" IsReadOnly="true" />
            }
            else if (notFound)
            {
                <div class="alert alert-warning">Credit Note not found.</div>
            }
            else
            {
                <div class="text-center">Loading...</div>
            }
        </div>
    </div>
</div>

@code {
    [Parameter] public int Id { get; set; }
    private string? voucherNo;
    private bool notFound;

    protected override async Task OnInitializedAsync()
    {
        var note = await CreditNoteService.GetCreditNoteByIdAsync(Id);
        if (note != null)
        {
            voucherNo = note.CreditNoteNo;
        }
        else
        {
            notFound = true;
        }
    }
}
