@page "/abraq/transactions/debit-note/create"
@page "/abraq/transactions/debit-note/edit/{Id:int}"
@using BlazorDemo.Pages.AbraqAccount.Transactions.SubComponents

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <DebitNoteForm Id="Id" />
        </div>
    </div>
</div>

@code {
    [Parameter] public int? Id { get; set; }
}
