@page "/abraq/transactions/payment-settlement/create"
@page "/abraq/transactions/payment-settlement/edit/{PANumber}"
@using BlazorDemo.Pages.AbraqAccount.Transactions.SubComponents

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <PaymentSettlementForm PANumber="@PANumber" />
        </div>
    </div>
</div>

@code {
    [Parameter] public string? PANumber { get; set; }
}
