@page "/abraq/transactions/receipt-entry/create"
@page "/abraq/transactions/receipt-entry/edit/{VoucherNoEncoded}"
@using BlazorDemo.Pages.AbraqAccount.Transactions.SubComponents
@using System.Net

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <ReceiptEntryForm VoucherNo="@VoucherNo" />
        </div>
    </div>
</div>

@code {
    [Parameter] public string? VoucherNoEncoded { get; set; }
    
    private string? VoucherNo => !string.IsNullOrEmpty(VoucherNoEncoded) 
        ? WebUtility.UrlDecode(VoucherNoEncoded) 
        : null;
}
