/*BeginHide*/::deep .grid-toolbar-new,
::deep .grid-toolbar-delete,
::deep .grid-toolbar-save,
::deep .grid-toolbar-cancel {
    background-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background-position: center center;
    background-color: currentColor;
    height: 16px;
    width: 16px;
    opacity: 0.7;
}


::deep .grid-toolbar-new {
    -webkit-mask-image: url("images/icons/grid-toolbar-new.svg");
    mask-image: url("images/icons/grid-toolbar-new.svg");
}

::deep .grid-toolbar-delete {
    -webkit-mask-image: url("images/icons/grid-toolbar-delete.svg");
    mask-image: url("images/icons/grid-toolbar-delete.svg");
}

::deep .grid-toolbar-save {
    -webkit-mask-image: url("images/icons/save.svg");
    mask-image: url("images/icons/save.svg");
}

::deep .grid-toolbar-cancel {
    -webkit-mask-image: url("images/icons/undo.svg");
    mask-image: url("images/icons/undo.svg");
}

::deep .grid-delete-btn:hover {
    color: var(--DS-color-surface-warning-default-rest);
}
/*EndHide*/

/*BeginHide*/::deep /*EndHide*/.grid-modified-cell {
    background-color: rgba(var(--bs-primary-rgb), 0.15) !important;
}

/*BeginHide*/ .grid-container {
    display: contents;
}
/*EndHide*/
