@inject ICarouselImageDataProvider CarouselImageDataProvider
@using DevExpress.AIIntegration.Blazor.Chat

<DemoPageSectionComponent Id="AI-Chat-Overview"
                          ShowSizeMode="true">
    <OptionsContent>
        <OptionCheckBox Label="Use Streaming" @bind-Checked="UseStreaming" />
    </OptionsContent>
    <ChildContentWithParameters Context="Params">
        <div class="chat-demo-container">
            <DxAIChat CssClass="demo-chat" UseStreaming="UseStreaming" SizeMode="Params.SizeMode" />
        </div>
        @code {
            bool UseStreaming { get; set; } = false;
        }
    </ChildContentWithParameters>
</DemoPageSectionComponent>
