/*BeginHide*/::deep /*EndHide*/.dxbl-grid {
    height: 522px;
}

/*BeginHide*/ ::deep /*EndHide*/ .header-bold span {
    font-weight: 700;
}
/*BeginHide*/ .grid-container {
    display: contents;
}
/*EndHide*/

/* DevExpress and Bootstrap Themes */
/*BeginHide*/::deep /*EndHide*/.alt-item > td:not(.dxbl-grid-empty-cell),
/*BeginHide*/::deep /*EndHide*/.alt-item > td:not(.dxbl-grid-indent-cell) {
    background-color: color-mix(in srgb, var(--bs-gray-300), transparent 50%);
}

/* Fluent Themes */
/*BeginHide*/::deep /*EndHide*/ .alt-item {
    --dxbl-grid-row-bg: var(--DS-color-surface-neutral-subdued-rest);
}
