/*BeginHide*/
::deep /*EndHide*/.listbox {
    width: 200px;
    border: none;
}

.listbox-item-template {
    display: flex;
    align-items: center;
}

.listbox-item-template > img {
    border-radius: 50%;
    width: 2rem;
    height: 2rem;
}

img + .listbox-item-template-name {
    margin-left: 0.5rem;
}

.dxbl-sm img + .listbox-item-template-name {
    margin-left: 0.375rem;
}

.dxbl-lg img + .listbox-item-template-name {
    margin-left: 0.625rem;
}
