/*BeginHide*/ ::deep /*EndHide*/ .file-system-icon-folder,
/*BeginHide*/ ::deep /*EndHide*/ .file-system-icon-file
{
    width: 1rem;
    height: 1rem;
    min-width: 1rem;
    min-height: 1rem;
    background-size: contain;
    background-position: center center;
}

/*BeginHide*/ ::deep  .file-system-icon-folder {
    background-image: url("images/icons/folder-color.svg");
}
::deep .file-system-icon-file {
    background-image: url("images/icons/document-color.svg");
}
/*EndHide*/
