/*BeginHide*/::deep /*EndHide*/.treelist-toolbar-column-chooser {
    -webkit-mask-image: url("images/icons/column-chooser.svg");
    mask-image: url("images/icons/column-chooser.svg");
    background-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background-position: center center;
    background-color: currentColor;
    height: 16px;
    width: 16px;
    opacity: 0.7;
}
