<DemoPageSectionComponent Id="Editors-DateRangePicker-DisplayFormat" ShowSizeMode="true">
    <ChildContentWithParameters Context="Params">
        <label for="deDisplayFormat" class="demo-text cw-320 mb-1">Date Range</label>
        <DxDateRangePicker @bind-StartDate="@DateTimeStart"
                           @bind-EndDate="@DateTimeEnd"
                           DisplayFormat="From: {0:M}; To: {1:M}"
                           SizeMode="Params.SizeMode"
                           CssClass="cw-320"
                           InputId="deDisplayFormat" />
    </ChildContentWithParameters>

    @code {
        DateTime DateTimeStart { get; set; } = DateTime.Today;
        DateTime DateTimeEnd { get; set; } = DateTime.Today.AddDays(7);
    }

</DemoPageSectionComponent>
