<DemoPageSectionComponent Id="FileManagement-FileInput-Overview">

    <div id="overviewDemoDropZone" class="card custom-drop-zone rounded-3 w-100 m-0">
        <span class="drop-file-icon mb-3"></span>
        <span class="drop-file-label" >Drag and Drop File Here</span><span class="m-1">or</span>
        <DxButton Id="overviewDemoSelectButton"
                  CssClass="m-1"
                  RenderStyle="ButtonRenderStyle.Primary"
                  Text="Select File" />
    </div>
    <DxFileInput
              Visible="@UploadVisible"
              ExternalSelectButtonCssSelector="#overviewDemoSelectButton"
              ExternalDropZoneCssSelector="#overviewDemoDropZone"
              ExternalDropZoneDragOverCssClass="custom-drop-zone-hover"
              MaxFileSize="15000000"
              FilesUploading="OnFilesUploading"
              SelectedFilesChanged="@SelectedFilesChanged">
    </DxFileInput>

    @code {
        bool UploadVisible { get; set; } = false;

        protected void SelectedFilesChanged(IEnumerable<UploadFileInfo> files) {
            UploadVisible = files.ToList().Count > 0;
            InvokeAsync(StateHasChanged);
        }

        protected async Task OnFilesUploading(FilesUploadingEventArgs args) {
            var file = args.Files[0];
            using var stream = new System.IO.MemoryStream();
            await file.OpenReadStream(file.Size).CopyToAsync(stream);
        }
    }
</DemoPageSectionComponent>
