<DemoPageSectionComponent Id="FileManagement-FileInput-UploadModes">
    <div class="upload-container">
        <div style="@(SelectedFilesCount > 0 ? "display: none" : string.Empty)">
            <span class="drop-file-icon mb-3"></span>
            <span class="drop-file-label mb-3">Click the Select File button to select files</span>
        </div>
        <DxFileInput
                  UploadMode="@UploadMode.OnButtonClick"
                  AllowMultiFileUpload="true"
                  MaxFileSize="15000000"
                  SelectedFilesChanged="@SelectedFilesChanged"
                  FilesUploading="OnFilesUploading">
        </DxFileInput>
    </div>

    @code {
        int SelectedFilesCount { get; set; }

        protected void SelectedFilesChanged(IEnumerable<UploadFileInfo> files) {
            SelectedFilesCount = files.ToList().Count;
            InvokeAsync(StateHasChanged);
        }

        protected async Task OnFilesUploading(FilesUploadingEventArgs args) {
            foreach (var file in args.Files) {
                using var stream = new System.IO.MemoryStream();
                await file.OpenReadStream(file.Size).CopyToAsync(stream);
            }
        }
    }
</DemoPageSectionComponent>
