/*BeginHide*/::deep /*EndHide*/#dropzone-external {
    width: 350px;
    height: 350px;
    background-color: rgba(183, 183, 183, 0.1);
    border-width: 2px;
    border-style: dashed;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/*BeginHide*/::deep /*EndHide*/#dropzone-external > * {
    pointer-events: none;
}

/*BeginHide*/::deep /*EndHide*/#dropzone-external.dropzone-hover {
    border-style: solid;
}

/*BeginHide*/::deep/*EndHide*/.upload-container > span {
    font-size: 22px;
    font-weight: bold;
    margin-bottom: 16px;
}

/*BeginHide*/::deep /*EndHide*/#dropzone-image {
    max-width: 100%;
    max-height: 100%;
}

/*BeginHide*/::deep /*EndHide*/#dropzone-text > span {
    opacity: 0.5;
}

/*BeginHide*/::deep /*EndHide*/.upload-progress {
    display: flex;
    margin-top: 10px;
}

/*BeginHide*/::deep /*EndHide*/.flex-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
